/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none; /* make visual indicator for focus states */
}
a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
    outline: none;
}
/* KEYFRAMES */



@-webkit-keyframes HeaderAnimationFadeInOut {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes HeaderAnimationFadeInOut {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes HeaderAnimationFadeInOut {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/* BASE STYLES */



                /* MAIN PAGE */

body {
    background-color:ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 5px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(269deg, #ffffff, #7eadee);
    background-size: 400% 400%;

    -webkit-animation: HeaderAnimationFadeInOut 4s ease infinite;
    -moz-animation: HeaderAnimationFadeInOut 4s ease infinite;
    animation: HeaderAnimationFadeInOut 4s ease infinite;
}

.button__{
    font-weight: 600;
    padding: 14px;
    cursor: pointer;
    transition: all 0.2s;
}
.button__:hover, .button__:focus {
    transform: scale(1.13);
    text-shadow: 5px 5px 5px #7eadee, -5px -5px 5px #fff, -5px 5px 5px #7eadee, 5px -5px 5px #fff;
    outline: none;
}
.countriesDisplayMain__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countriesDisplayMain__grid {
    margin-top: 20px;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
}

.countryName {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transition: all 0.2s;
}
.countryName:hover, .countryName:focus {
    transform: scale(1.22);
    outline:none;
    
}


                /* Country Data Page */

.template__cards {
    display: flex;
}

.countryData__displayBox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.countryData__flags {
    width: 300px;
}

.countryData__coatOfArms {
    width: 200px;
}

.countryData__flagInitials {
    text-align: center;
}

.countryData__timeZone {

}

.countryData__currency {
    text-align: center;
}
.countryData__currency > div > div {
    display: inline;
}

.countryData__languages {
    display: inline;
}
.countryData__languages > div {
    display: inline;
}
.countryData__displayInfo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.countryData__displayInfo {
    width: 75%;
    display:flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.countryData__name {
    font-size: 3rem;
}

.countryData__official {

}

.countryData__capital {

}

.countryData__paragraph {
    text-align: center;
    word-spacing: 0.175rem;
    letter-spacing: 0.075rem;
}



                    /* ReRoute page */


.reroute__title {
    text-align: center;
    font-size: 3rem;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.endPoint__dropdown {
    display: block;
    text-align: center;
    width: 10rem;
    height: 2rem;
}

.form__submit {
    border-bottom: solid 1px #000;
    padding: 10PX;
    transition: all 0.4s;
    font-weight: 600;
}

.form__submit:hover, .form__submit:focus {
    transform: scale(1.2);
}